<h1>Edit <%= @snowboard.name %> from <%= @snowboard.brand %></h1>
<form  action="/snowboard/<%= @snowboard.id %>" method="post">
  <p>
    <label for="snowboard_name">Name:</label>
    <input type="text" name="snowboard[:name]" value="<%= @snowboard.name %>" id="snowboard_name">
  </p>
  <p>
    <label for="snowboard_brand">Brand:</label>
    <input type="text" name="snowboard[:brand]" value="<%= @snowboard.brand %>" id="snowboard_brand">
  </p>
  <p>
    <label for="length">Length:</label>
    <input type="number" name="snowboard[length]" value="<%= @snowboard.length %>"id="length"> cm
  </p>
  <p>
    <label for="category_ids">Category(s):</label><br>
    <% @current_user.categories.each do |category| %>
    <input type="checkbox" name="snowboard[category_ids][]" value="<%= category.id %>" <%="checked" if @snowboard.categories.include?(category) %>><%= category.name %><br>
    <% end %>
  </p>
  <input type="submit" name="submit" value="Edit Snowboard">
</form>
