<h1><%= @snowboard.name %></h1>
<h2>Made by</h2>
<h2><%= @snowboard.brand %></h2>
<h3>Length: <%= @snowboard.length %>cm</h3>
<h3>Shape: <%= @snowboard.shape %></h3>
<h2>Good for:</h2>
<% @snowboard.categories.each do |category| %>
<h3><a href="/category/<%= category.id %>"><%= category.name %></a></h3>
<% end %>
<% if @snowboard.user == current_user %>
<p>
  <form  action="/snowboard/<%= @snowboard.id %>/edit" method="get">
    <input type="submit" value="Edit Snowboard">
  </form>
</p>
<form  action="/snowboard/<%= @snowboard.id %>/delete" method="post">
  <input type="submit" name="Delete Snowboard" value="Delete Snowboard">
</form>
<% end %>
<p><a href="/quiver">Return to quiver</a></p>
<p><a href="/logout">Logout</a></p>
